$primary-neon: #00ffff;

.cursor {
  position: fixed;
  width: 4px;
  height: 4px;
  background: $primary-neon;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  box-shadow: 0 0 6px $primary-neon;
}